<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    {{ css('font-face') }}
    {{ css('vendor/font-awesome-4.7/css/font-awesome.min') }}
    {{ css('vendor/font-awesome-5/css/fontawesome-all.min') }}
    {{ css('vendor/mdi-font/css/material-design-iconic-font.min') }}

    <!-- Bootstrap CSS-->
    {{ css('vendor/bootstrap-4.1/bootstrap.min') }}

    <!-- Vendor CSS-->

    {{ css('vendor/animsition/animsition.min') }}
    {{ css('vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min') }}
    {{ css('vendor/wow/animate') }}
    {{ css('vendor/css-hamburgers/hamburgers.min') }}
    {{ css('vendor/slick/slick') }}
    {{ css('vendor/select2/select2.min') }}
    {{ css('vendor/perfect-scrollbar/perfect-scrollbar') }}

    <!-- Main CSS-->
    {{ css('theme') }}

</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="{{ assetsUrl('images/logo.png') }}" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="/login" method="post">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input class="au-input au-input--full" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="login-checkbox">
                                    <label>
                                        <input type="checkbox" name="remember">Remember Me
                                    </label>
                                    <label>
                                        <a href="#">Forgotten Password?</a>
                                    </label>
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
                            </form>
                            <div class="register-link">
                                <p>
                                    Don't you have account?
                                    <a href="#">Sign Up Here</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    {{ script('vendor/jquery-3.2.1.min') }}

    <!-- Bootstrap JS-->
    {{ script('vendor/bootstrap-4.1/popper.min') }}
    {{ script('vendor/bootstrap-4.1/bootstrap.min') }}
    <!-- Vendor JS       -->
    {{ script('vendor/slick/slick.min.j') }}
    {{ script('vendor/wow/wow.min') }}
    {{ script('vendor/animsition/animsition.min') }}
    {{ script('vendor/bootstrap-progressbar/bootstrap-progressbar.min.j') }}
    {{ script('vendor/counter-up/jquery.waypoints.min') }}
    {{ script('vendor/counter-up/jquery.counterup.min.j') }}
    {{ script('vendor/circle-progress/circle-progress.min') }}
    {{ script('vendor/perfect-scrollbar/perfect-scrollbar') }}
    {{ script('vendor/chartjs/Chart.bundle.min') }}
    {{ script('vendor/select2/select2.min') }}

    <!-- Main JS-->
    {{ script('main') }}

</body>

</html>
<!-- end document-->
